.g-articles {
  .nav {
    position: absolute;
    top: -45px;
    right: 170px;
    padding: 0;
    box-shadow: 0 0 3px #DDDDDD;
    width: 124px;
    overflow: hidden;
    user-select: none;
  }

  .header {
    padding: 20px 50px;
  }

  .body {
    min-height: calc(100vh - 158px);
    padding: 0 50px 20px 50px;
  }
}

.g-carousel {
  width: 360px;
  height: 270px;

  * {
    display: block;
  }
}

.g-img {
  width: 360px;
  height: 240px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    min-width: 360px;
    min-height: 240px;
  }
}

.m-card {
  .container {
    display: flex;
    justify-content: space-between;
    line-height: 30px;

    .type {
      margin-left: 10px;
      display: flex;
    }
  }
}

.article-unit {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #EEEEEE;
  transition: all 250ms;
  border-radius: 5px;
}

.article-unit:hover {
  background: #F9F9F9;
}

.article-title {
  flex: 1 0 auto;
}

.article-details {
  display: flex;
  flex: 0 1 45%;
  flex-direction: column;
  justify-content: right;
}

.article-info {
  display: flex;
  line-height: 100%;
  margin-bottom: 10px;
  justify-content: right;
  color: #999999;
}

.article-desc {
  display: flex;
  line-height: 100%;
  color: #999999;
}

.article-desc p {
  word-break: break-all;
}

.article-page {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
