.articles-compose-header {
  padding: 20px 50px;
}

.articles-compose-header-card {
  box-shadow: 0 0 1px #999999;
}

.articles-compose-header-label {
  width: 200px;
  margin-right: 10px;
}

.articles-compose-header-type {
  margin-left: 10px;
  display: flex;
}

.articles-compose-body {
  min-height: calc(100vh - 158px);
  padding: 0 50px 45px 50px;
}
