.g-carousel, .g-carousel-empty {
  display: block;
  width: 360px;
  height: 270px;

  * {
    display: block;
  }
}

.g-carousel-empty {
  padding: 100px 0;
  text-align: center;
  font-size: 18px;
  color: #999999;
  width: 360px;
  height: 270px;
  box-shadow: 0 0 15px #999999;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.g-img {
  width: 360px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 0 5px #999999;
  border: 1px solid transparent;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    min-width: 360px;
    min-height: 240px;
  }
}

.g-title {
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 3px #000000;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    color: #3096ff;
    text-shadow: 1px 1px 3px #999999;

  }
}
