.g-details {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;

  .container {
    padding: 0;
    display: flex;
    flex-direction: row;

    .left {
      flex: 1 0 auto;
      flex-direction: column;
    }

    .right {
      padding: 20px;
      border-left: 1px solid #EEEEEE;
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-left: 20px;
    }
  }
}

.m-header {
  padding: 20px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px;

  .title {
    padding: 0;
    border: none;
    font-size: 32px;
    margin-bottom: 5px;
  }

  .info {
    padding: 0;
    border: none;
    line-height: 100%;
    margin-bottom: 10px;
    color: #999999;
  }
}

.m-content {
  word-wrap: break-word;
  width: calc(100vw - 469px);
  min-width: 446px;
}

@media only screen and (min-width: 1600px) {
  .m-content {
    word-wrap: break-word;
    width: 1131px;
  }
}

.m-list {
  display: flex;
  flex-direction: column;

  .title {
    padding: 10px 0;
    border: none;
  }
}

.m-list-rel {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.m-comment {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;

  .header {
    em, .time {
      color: #999999;
    }
  }
}

.m-edit {
  display: flex;

  span {
    display: flex;
  }

  .text {
    display: block;
  }
}
