.m-import {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  background: #FAFAFA;
  border-radius: 5px;
  padding: 10px;
  line-height: 24px;

  span {
    color: #999999;
  }

  .upload {
    margin: 0;
    padding: 0;
    border-radius: unset;
    background: transparent;

    * {
      color: #999999;

      button {
        margin-left: 5px;
      }
    }
  }

}
