.m-unit {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px dashed #EEEEEE;
  transition: all 250ms;
  border-radius: 5px;
  line-height: 48px;

  &:hover {
    background: #F9F9F9;
  }

  .title {
    width: auto;
    padding: 0;
    flex: 1 0 auto;
    border: none;
  }

  .details {
    width: 45%;
    padding: 0;
    flex-direction: column;
    justify-content: right;
    border: none;
    color: #999999;
    display: inline-block;
    float: right;
  }
}
