* {
  box-sizing: border-box;
  position: relative;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  padding-bottom: 360px;
  background: url('./assets/bg.png') repeat-y;
  background-size: 100% auto;
}

.layout-header {
  background: #222222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  display: flex;
}

.layout-nav {
  height: 100%;
  flex: 1 0 auto;
}

.layout-nav > * {
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
}

.layout-brand {
  height: 100%;
  padding: 5px;
}

.layout-users {
  font-size: 16px;
}

.layout-footer {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background: #EEEEEE;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.layout-sites {
  display: flex;
  flex-direction: column;
}

.layout-sites span {
  font-size: 13px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 350ms;
}

.layout-sites span:hover {
  color: #222222;
}

.layout-sites-title {
  font-size: 16px;
  padding: 20px 0;
}

.layout-container {
  min-height: 500px;
  padding: 0 80px;
}
