* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  min-width: 900px;
}

.layout-container {
  min-height: 500px;
  padding: 0 80px;
}

.router-link-active {
  color: rgba(255, 255, 255, 1);
}

#app {
  min-height: 100vh;
  padding-bottom: 325px;
}

.layout-header {
  padding: 0 35px;
  background: #222222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display: flex;
  user-select: none;
}

.layout-brand {
  height: 45px;
  display: flex;
  width: 145px;
  cursor: pointer;
}

.layout-brand img {
  height: 100%;
}

.layout-nav {
  height: 100%;
  flex: 1 0 auto;
}

.layout-nav li {
  font-size: 16px;
}

.layout-users {
  font-size: 16px;
  padding-right: 20px;
}

.layout-footer {
  position: absolute;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
  bottom: 0;
  height: 325px;
  width: 100%;
  background: #EEEEEE;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.layout-sites {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  user-select: none;
}

.layout-sites span {
  font-size: 13px;
  padding-bottom: 6px;
  color: rgb(73, 80, 96);
  cursor: pointer;
  transition: all 350ms;
}

.layout-sites span:hover {
  color: #222222;
}

.layout-sites-title {
  font-size: 16px;
  padding-bottom: 14px;
}

.layout-footer-cprt {
  padding: 10px 0;
  color: rgb(73, 80, 96);
  text-align: center;
}
