.index-banner-container {
  max-width: 1600px;
  max-height: 100vh;
}

.index-banner-unit img {
  width: 100%;
  max-height: 100vh;
}

.index-extras {
}

.index-extras-item {
  display: inline-block;
  width: calc(50% - 5px);
}

.moments-main {
  padding: 0;
}
