.g-extras {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 30px;

  .left, .right {
    position: relative;
  }

  .left {
    display: block;
    flex: 1 0 auto;
    margin: 0;
  }

  .right {
    width: 400px;
    margin: 20px 50px 20px -50px;
    padding: 5px;
  }
}

.g-button {
  margin-top: 18px;
}

.g-button-moments {
  margin-left: 240px;
  margin-top: -60px;
}
