/* header */
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active {
  color: rgba(255, 255, 255, .7);
}

.ivu-menu-horizontal {
  height: 45px;
  line-height: 45px;
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected {
  background: transparent;
  color: rgb(73, 80, 96);
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected:hover {
  background: #f3f3f3;
  color: rgb(73, 80, 96);
}

.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
  padding-right: 15px;
}

.ivu-menu-submenu-title > i {
  margin-right: 0;
}

.ivu-menu-item-group-title {
  cursor: default;
}

.ivu-notice-notice, .ivu-notice-notice-content {
  padding: 0;
}

.ivu-notice-notice .ivu-notice-notice-closable .ivu-notice-notice-with-desc {
  padding: 0;
}

.ivu-notice-with-desc {
  padding: 16px;
}

.ivu-modal-close {
  z-index: 5;
}

.router-link-active {
  color: rgba(255, 255, 255, 1);
}
