.g-moments {
  padding: 20px 50px;
}

.m-header {
  line-height: 24px;
}

.m-container {
  padding: 20px 35px 0 35px;
}

.g-unit {
  display: flex;
  margin-bottom: 11px;

  .left, .right {
    display: inline-block;
    width: auto;
  }

  .left {
    width: 130px;
  }

  .right {
    margin-top: -11px;
    flex: 1 0 auto;
  }
}

.m-moment {
  font-size: 15px;

  .time {
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    background: #2db7f5;
    color: #EEEEEE;
  }
}

.m-details {
  float: right;
}
