.moments-main {
  padding: 20px 50px;
}

.moment-item {
  font-size: 15px;
  margin-bottom: 15px;
}

.moment-item-container {
  padding: 20px 35px 0 35px;
  border-radius: 5px;
  background: #FAFAFA;
}

.moment-item-time {
  border-radius: 5px;
  padding: 5px 10px;
  background: #2db7f5;
  color: #EEEEEE;
}
