/* header */
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active {
  color: rgba(255, 255, 255, .7);
}

.ivu-menu-horizontal {
  height: 45px;
  line-height: 45px;
}

.ivu-menu-dark {
  background: rgba(43, 133, 228, 0.8);
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected {
  background: transparent;
  color: rgb(73, 80, 96);
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected:hover {
  background: #f3f3f3;
  color: rgb(73, 80, 96);
}

.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
  padding-right: 15px;
}

.ivu-menu-submenu-title > i {
  margin-right: 0;
}

.ivu-menu-item-group-title {
  cursor: default;
}

.ivu-notice-notice, .ivu-notice-notice-content {
  padding: 0;
}

.ivu-notice-notice .ivu-notice-notice-closable .ivu-notice-notice-with-desc {
  padding: 0;
}

.ivu-notice-with-desc {
  padding: 16px;
}

.ivu-modal-close {
  z-index: 5;
}

.ivu-select-dropdown {
  max-height: 300px;
}

.router-link-active {
  color: rgba(255, 255, 255, 1);
}

.v-note-panel {
  box-shadow: none !important;
  border-radius: 5px;
}

.ivu-input {
  resize: none;
}

.v-note-wrapper {
  z-index: 500 !important;
}

.v-note-img-wrapper {
  z-index: 2000 !important;
}

.v-note-wrapper .markdown-body .fullscreen {
  z-index: 2000 !important;
}

.v-note-img-wrapper img {
  max-width: 75%;
  max-height: 83%;
}

.v-note-op {
  border-bottom: 1px solid #DDDDDD;
  /*box-shadow: 0 3px 5px #DDDDDD !important;*/
  box-shadow: none !important;
}

