.g-resources {
  padding: 20px 50px;
  min-height: calc(100vh - 158px);

  .nav {
    position: absolute;
    top: -45px;
    right: 170px;
    padding: 0;
    box-shadow: 0 0 3px #DDDDDD;
    width: 124px;
    min-height: unset;
    overflow: hidden;
    user-select: none;
  }

  .header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
  }

  .body {
    padding: 0;
  }
}

.g-labels {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  line-height: 28px;
  border-radius: 5px;
  background: #FAFAFA;
  margin-bottom: 15px;
}

.m-label {
  display: inline-block;
  margin: 0 5px;
}

.m-label-right {
  float: right;
}

.m-upload {
  background: #F9F9F9;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  width: 100%;

  .header {
    border-radius: unset;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
  }

  .body {
    border-radius: unset;
    margin: 0;
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;

    .op, .labels {
      margin: 0;
      padding: 0;
    }

    .op {
      flex-direction: row;
    }
  }
}

.m-left {
  margin: 0;
  padding: 0;
}

.m-left-category {
  width: 200px;
  margin-right: 15px;
}

.m-left-select {
  width: 130px;
}

.m-right {
  padding: 0;
  margin: 0 0 0 15px;
  flex: 1 0 auto;
  overflow: auto;
}

.g-page {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  height: auto;
}
