.teacher-center-plans {

}

.plans-header {
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.plans-card-header {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.plans-card-body {
  display: flex;
  min-height: 500px;
}

.plans-card-body-left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.plans-card-body-right {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-left: 1px solid #EEEEEE;
  margin-left: 20px;
  padding-left: 20px;
}

.unit-title {
  height: 48px;
  line-height: 36px;
}

.unit-title span {
  padding: 8px;
  background: #2b85e4;
  border-radius: 5px;
  color: #FFFFFF;
}

.plans-class-list {
  display: flex;
  flex-direction: column;
}

.plans-class-unit {
  box-shadow: 0 0 2px #DDDDDD;
  padding: 8px 0 0 0;
  margin-bottom: 5px;
  border-radius: 5px;
}

.plans-students-list {
  width: calc(100vw - 469px);
  min-width: 446px;
  overflow: auto;
}

@media only screen and (min-width: 1600px) {
  .plans-students-list {
    width: 1131px;
  }
}

.student-details-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #EEEEEE;
  line-height: 36px;
  margin-bottom: 20px;
}

.student-details-header p {
  margin-left: 20px;
  font-size: 14px;
  color: #999999;
}

.student-details-profile,
.student-details-plans,
.student-details-meetings {
  margin: 20px 0;
}
