.teacher-center-main {
  padding: 20px 50px;
}

.teacher-center-nav-container {
  box-shadow: 0 2px 3px #DDDDDD;
  z-index: 20;
}

.teacher-center-nav {
  margin-left: 165px;
  width: 572px;
  user-select: none;
}

.teacher-center-nav span {
  padding: 12px 0;
}
