.user-center-main {
  display: flex;
  padding: 20px 50px;
}

.user-center-card {
  margin-bottom: 20px;
}

.user-center-card-header {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.user-center-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.user-center-right {
  width: 300px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

/*.user-center-unit-container {*/
/*}*/

/* profile */

.profile-avatar {
  margin-bottom: 20px;
}

.profile-info hr {
  color: #999999;
}

.profile-info-unit {
  font-size: 15px;
  margin-bottom: 7px;
}

.profile-info-name {
  font-size: 30px;
  margin-bottom: 15px;
}

.profile-info-sub {
  color: #999999
}

.profile-edit {
  padding: 10px 25px;
  display: flex;
}

.profile-edit-left {
  flex: 0 0 100px;
}

.profile-edit-right {
  flex: 1 0 auto;
  margin-left: 25px;
}

.profile-edit-input {
  margin: 10px 0;
}

/* plan */

.plan-container {
  /*overflow: auto;*/
  min-width: 446px;
}

.plan-list {
  width: calc(100vw - 469px);
  min-width: 446px;
  overflow: auto;
}

@media only screen and (min-width: 1600px) {
  .plan-list {
    width: 1131px;
  }
}

.plan-empty {
  height: 84px;
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.plan-edit-container {
  border-top: 1px solid #EEEEEE;
}

.plan-edit-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}

.plan-edit-body {
  padding: 10px 0;
  display: flex;
}

.plan-edit-left {
  width: 250px;
}

.plan-edit-right {
  margin-left: 25px;
  flex: 1 0 auto;
  overflow: auto;
}

.plan-edit-unit {
  font-size: 15px;
  margin-bottom: 12px;
  max-width: 100%;
}

.plan-edit-input {
  margin: 10px 0;
}

.plan-edit-textarea textarea {
  resize: none;
  height: 84px;
}
