.user-center-main {
  display: flex;
  padding: 20px 50px;
}

.user-center-card {
  margin-bottom: 20px;
}

.user-center-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.user-center-right {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

.user-center-unit-container {

}

.profile-avatar {
  margin-bottom: 20px;
}

.profile-avatar img {
  width: 100%;
  border-radius: 5px;
}

.profile-info hr {
  color: #999999;
}

.profile-info-unit {
  font-size: 15px;
  margin-bottom: 7px;
}

.profile-info-name {
  font-size: 30px;
  margin-bottom: 15px;
}

.profile-info-sub {
  color: #999999
}

.profile-container, .plan-container, .article-container {
  width: 100%;
}
