.g-user {
  display: flex;
  padding: 20px 50px;

  .left {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .right {
    padding: 0;
    flex: 0 0 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

.m-card {
  margin-bottom: 20px;

  .header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
  }

  .unit {
    margin: 0;
  }

}
