.user-center-main {
  display: flex;
  padding: 20px 50px;
}

.user-center-card {
  margin-bottom: 20px;
}

.user-center-card-header {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.user-center-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.user-center-right {
  width: 300px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.user-center-unit-container {
}

.profile-avatar {
  margin-bottom: 20px;
}

.profile-avatar img {
  width: 100%;
  border-radius: 5px;
}

.profile-info hr {
  color: #999999;
}

.profile-info-unit {
  font-size: 15px;
  margin-bottom: 7px;
}

.profile-info-name {
  font-size: 30px;
  margin-bottom: 15px;
}

.profile-info-sub {
  color: #999999
}

.plan-container {
  width: calc(100vw - 469px);
  min-width: 446px;
}

@media only screen and (min-width: 1600px) {
  .plan-container {
    width: 1131px;
  }
}

.profile-edit-input {
  margin: 10px 0;
}
