
.g-user {
  display: flex;
  padding: 20px 50px;

  .nav {
    position: absolute;
    top: -45px;
    right: 170px;
    padding: 0;
    box-shadow: 0 0 3px #DDDDDD;
    width: 367px;
    overflow: hidden;
    user-select: none;
  }

  .left {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .right {
    padding: 0;
    flex: 0 0 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

.m-card {
  margin-bottom: 20px;

  .header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
  }

  .unit {
    margin: 0;
  }
}

.m-nav {
  margin: 0;
  user-select: none;

  span {
    padding: 12px 0;
  }
}
